---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>All Matches</h1>
    <p>List of all matches will be displayed here.</p>
    <a href="/">Back to Home</a>
  </main>
</Layout>
