---
import Layout from "../layouts/Layout.astro";
import HeadToHead from "@/components/HeadToHead";
---

<Layout minWidth="600px">
  <main class="min-h-screen bg-background">
    <HeadToHead client:load />
    <div class="container mx-auto px-4 py-4 text-center">
      <a href="/" class="text-primary hover:underline">Back to Home</a>
    </div>
  </main>
</Layout>
