---
import Layout from "../layouts/Layout.astro";

const player1 = Astro.url.searchParams.get("player1");
const player2 = Astro.url.searchParams.get("player2");
---

<Layout>
  <main>
    <h1>Compare</h1>
    {
      player1 && player2 ? (
        <p>
          Comparing Player {player1} vs Player {player2}
        </p>
      ) : (
        <p>Select two players to compare.</p>
      )
    }
    <a href="/">Back to Home</a>
  </main>
</Layout>
