---
import Layout from "../layouts/Layout.astro";

const id = Astro.url.searchParams.get("id");
---

<Layout>
  <main>
    <h1>Event</h1>
    {id ? <p>Viewing event {id}</p> : <p>No event ID provided.</p>}
    <a href="/">Back to Home</a>
  </main>
</Layout>
