---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout>
  <main>
    <h1>Match Stats</h1>
    <nav>
      <ul>
        <li><a href="/players">Players</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/compare">Compare</a></li>
        <li><a href="/lb">Leaderboard</a></li>
      </ul>
    </nav>
  </main>
</Layout>
