---
import Layout from "../layouts/Layout.astro";

const id = Astro.url.searchParams.get("id");
---

<Layout>
  <main>
    <h1>Player</h1>
    {id ? <p>Viewing player {id}</p> : <p>No player ID provided.</p>}
    <a href="/players">Back to Players</a>
  </main>
</Layout>
