---
import "@/styles/global.css";
import DevPanel from "@/components/DevPanel.astro";
import { Nav } from "@/components/Nav";

interface Props {
  minWidth?: string;
}

const { minWidth } = Astro.props;
const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Match Stats Website</title>
  </head>
  <body style={minWidth ? `min-width: ${minWidth}` : undefined}>
    <Nav client:load />
    <slot />
    {isDev && <DevPanel />}
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
